In [1]:
import pandas as pd

#open data

data = pd.read_csv("data.csv")
data

,age,BMI,gender,1test Ex,1test In,ComorbCCC,ComorbL,CD\Ozhir,ComorbAll,L 109,LF,ROX,SpO2,SpO2\FiO,chD,measurementday,dayshome,Result,>7 or <7,daystoresult
0,64,30.468750,0,103,61,1,0,0,1,8.70,12.00,6.542700,86,157.024793,24,7,5,D,1,13
1,52,27.885187,0,110,58,1,0,0,1,4.05,29.00,26.190476,98,471.428571,18,2,7,H,0,6
2,66,14.659928,0,79,14,1,0,0,1,6.10,1.50,4.528337,93,99.623417,22,9,6,H,1,14
3,54,42.292640,1,69,19,0,0,1,1,5.30,0.12,3.792168,90,98.596371,26,6,7,H,1,14
4,67,40.700000,0,58,32,1,0,1,1,5.40,11.00,3.346154,83,87.000000,26,1,7,D,1,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,81,20.775623,0,43,28,1,0,0,1,3.50,1.10,20.562771,97,452.380952,22,1,8,H,1,11
380,66,29.996713,0,42,26,1,0,0,1,7.05,1.00,25.661376,97,461.904762,18,1,5,H,1,9
381,57,26.397977,0,52,34,1,0,1,1,5.80,0.30,25.925926,97,466.666667,18,1,3,H,0,5
382,63,25.109569,0,42,30,1,1,1,1,8.70,2.90,14.341463,94,286.829268,20,1,1,H,1,12
383,67,26.297578,0,95,52,0,0,0,0,12.90,0.09,25.661376,97,461.904762,18,1,7,H,0,5

In [ ]:
#get columns name

params = data.columns.to_list()

params

In [ ]:
#remade the Result column

def convert_values(val):
    if val == 'H':
        return 1
    else:
        return 0

data = data

data["Result"] = data["Result"].apply(convert_values)

data

In [ ]:
params.remove("gender")
params.remove("ComorbCCC")
params.remove("ComorbL")
params.remove("ComorbAll")
params.remove("CD\Ozhir")
params.remove("daystoresult")
params.remove(">7 or <7")
params.remove("Result")
len(params)

In [ ]:
import matplotlib.pyplot as plt

figure, axis = plt.subplots(len(params), 2, figsize=(10, len(params)/0.2))

for x in range(0, len(params)):
    axis[x, 0].scatter(data[params[x]], data["Result"])
    axis[x, 0].set_title(f"{params[x]}-Result")
    axis[x, 1].scatter(data[params[x]], data[">7 or <7"])
    axis[x, 1].set_title(f"{params[x]}-><7")

plt.show()